.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients-item {
  height: 92px;

  @media screen and (min-width:480px) {
    width: 210px;
  }
  @media screen and (min-width:768px) {
    width: 226px;
  }
 

  @media screen and (min-width:1200px) {
    width: 170px;

  }
}
.clients-link {
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  padding: 16px 52px;
  height: 100%;
  display: flex;
  transition: color var(--transition), border-color var(--transition);

  @media screen and (min-width:768px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width:1200px) {
    padding-left: 32px;
    padding-right: 32px;

  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}
.client-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
