/* Examples */
.examples {
  width: 1210px;
  margin: 0px auto;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;

  &:nth-child(3n + 3) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.examples-list__link {
    display: block;
    transition: box-shadow var(--transition);
  
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .thumb::before,
    &:focus .thumb::before
     {
      transform: translateY(0);
    }
  }
  