.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--footer-text-color);
  background-color: var(--accent-text-color);
  border: none;
  padding: 10px 24px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);

  @media screen and (min-width: 1200px) {
    padding-right: 32px;
    padding-left: 32px;
  }
  &--center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  &:hover,
  &:focus {
    background-color: var(--main-button-focus);
  }
 
}

.button--portfolio {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: var(--h-text-color);
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    color: var(--footer-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button--subscribe {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 00.06em;
  color: var(--footer-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 13px 28px;
  transition: background-color var(--transition), color var(--transition);

  @media screen and (max-width:1199px) {
    padding: 10px 28px 10px 31px;
  }

  &:hover,
  &:focus {
    background-color: var(--footer-text-color);
    color: var(--accent-text-color);
  }
}

.button--dropdown-menu {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  margin-left: auto;
  z-index: 2;
  line-height: 0;
  
  .mobile-dropdown.is-open ~ & {
    position: fixed;
    top: 10px;
    right: 15px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.icon-close {
  display: none;

  .mobile-dropdown.is-open ~ .button--dropdown-menu & {
    display: block;
  }
}

.icon-menu {
  .mobile-dropdown.is-open ~ .button--dropdown-menu & {
    display: none;
  }
}
