
.thumb {
    position: relative;
    overflow: hidden;
  
    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: var(--accent-rgba-color);
    
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      transition: transform var(--transition);
    }
  }
  
  .thumb__hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 77px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    transform: translateY(100%);
    transition: transform var(--transition);
  
    @media screen and (min-width:768px) {
      padding-top: 49px;
    }
    @media screen and (min-width:768px) {
      padding-top: 63px;
      padding-bottom: 63px;
    }


    .examples-list__link:hover &,
    .examples-list__link:focus & {
      transform: translateY(0);
  
    }
  }
  .thumb__wrap {
      flex-grow: 1;
      padding: 20px 24px;
      border: 1px solid #eeeeee;
      border-top: 0;
      
      @media screen and (min-width: 768px) {
        width: 354px;
      }
  
      @media screen and (min-width: 1200px) {
        width: 370px;
      }
    }
  .thumb__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--h-text-color);
    margin-bottom: 4px;
  }
  
  .thumb__description {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.9;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  
