:root {
  --h-text-color: #212121;
  --main-text-color: #757575;
  --footer-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --accent-rgba-color: rgba(33, 150, 243, 0.9);
  --main-button-focus: #188CE8;
  --icons-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$icons: "antenna", "clock", "planning", "astronaut";
